{
    "timeout": 10,
    "source": {
        "directories": [
            "src"
        ],
        "excludes":[
            "Component/Http/Psr/Response.php"
        ]
    },
    "logs": {
        "badge": {
            "branch": "master"
        }
        "text": "infection.log"
    },
    "mutators": {
        "@default": true
    }
}