parameters:
    level: 1
    paths:
        - src
    excludes_analyse:
        - %rootDir%/../../../src/Component/Http/*
        - %rootDir%/../../../src/Bridge/*
        - %rootDir%/../../../src/Component/Cache/Provider/APCuCacheProvider.php