includes:
    - phpstan-baseline.neon
parameters:
    level: 5
    paths:
        - src
    inferPrivatePropertyTypeFromConstructor: true
    excludes_analyse:
        - %rootDir%/../../../src/Component/*/Tests/*
        - %rootDir%/../../../src/Component/Http/*